body {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  .container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row; /*jc*/
    align-items: center;
    .block {
      height: 400px;
      width: 400px;
      background: rgb(34, 32, 32);
    }
    height: 100%;
    width: 100%;
  }
}
